* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: salmon;
  color: #444;
}

ol,
ul {
  list-style: none;
}

a {
  padding: 0.7em;
  text-decoration: none;

  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

button:hover {
  background-color: #006a8a4f;
  transition: background-color 0.2s;
}

input {
  width: 100%;
  padding: 6px 10px;
}

.container {
  margin: 0 auto;
  flex-direction: column;

  align-items: center;
  width: min(90%, 1000px);
}

.flex {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.title {
  font-size: 3rem;
}

.search {
  width: 100%;
}

.btn {
  background-color: #007396;
  color: #fff;
  padding: 0.5em 0.7em;
  border: none;
  border-radius: 0.3em;
}

.btn-search {
  width: 25%;
}

#quote-container {
  margin-top: 1em;
}

.single-quote {
  padding: 10px;
}

.quote-text {
  font-style: italic;
  line-height: 1.5em;
}

.attribution {
  margin-top: 0.5em;
}

.new-quote-title {
  font-size: 1.5em;
}

.inputs div {
  margin-top: 1em;
}

.btn-submit {
  margin-top: 0.5em;
}
